{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html> 

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <title> rate_me_pro </title>


{% block styles %}
{% bootstrap_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Galada|Handlee|IBM+Plex+Sans|Kreon|Lobster|Oleo+Script|Patrick+Hand|Paytone+One&display=swap" rel="stylesheet">
<link rel='stylesheet' href='{% static 'css/custom.css'%}'>

{{ submitProjectForm.media}}

{{ updateProf }}

{% endblock %}

</head>

<body>
{% include 'navbar.html' %}

{% block content %}

{% endblock %}



{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% bootstrap_javascript %}
{% endblock %} 



    
</body>
</html>