{% extends 'rmp_pages/base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}

<div class="container-fluid">
<div class='jumbotron text-center'>

<div>
<img src="/static/images/sampleicon.png" alt="star rating logo"> </div>

<div class='api-buttons'>

    <a class="btn btn-lg btn-primary" href="/users"> User API endpoint </a>
    <a class="btn btn-lg btn-primary" href="/projects"> Projects API endpint </a>
    <a class="btn btn-lg btn-primary" href="/profiles"> Profiles API endpint </a>


</div>


</div>
</div>

{% endblock %}