{% extends 'rmp_pages/base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}


<div class="profile">

    <div class="container text-center profileHeader topBuffer"></div>

    <!-- ============= profile pic and bio ================= -->

    <div class="container profileDetails">
        <div class="row align-items-center profContent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <img src="{{request.user.profile.prof_pic}}" alt="profPic" class="rounded-circle profilePic">
            </div>

            

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <h1 class="profUserName"> {{request.user.username}} </h1>
                <div class="profBlack">
                    <p> Bio: {{ request.user.profile.bio}}</p>
                    <p> Email: {{request.user.email}} </p>
                    <p> My Projects: {{user.project_set.all|length}}  </p>
                    <p> <a href="/update-profile"> Edit Profile </a> </p>

                </div>
                
            </div>

        </div>
    </div>

    <!-- ============= projects posted by specific user ================= -->

    <div class="container">
        <div class="row align-items-center ">
            <div class="col-lg-12 col-md-12 col-sm-12 projects">

                <div class="projectHeading">
                    <h2> My Projects </h2>
                </div>


            <!-- ============= start of loop that lists all projects per specific user ================= -->
                

                


            <!-- ============= endloop just above this comment ================= -->




            </div>

        </div>
    </div>

</div>

{% endblock %}
