{% extends 'rmp_pages/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

{{block.super}}



<div class="container-fluid topBuffer">

<div class="jumbotron">


<div>

<!-- PROFILE UPDATE FORM -->
    <form  action="{% url 'index' %}" method="post">

    {% csrf_token %}

    {% bootstrap_form updateProf layout='inline' %}

    <div class="form-group">

    <input type="submit" class="btn btn-primary btn-sm my-2" value="Submit">
    </div>
   </form>
   <!-- END OF FORM -->

</div>


</div>

</div>

{% endblock %}