{% extends 'rmp_pages/base.html' %}
{% load bootstrap4 %}


{% block content %}

{{block.super}}


<div class='container-fluid topBuffer'>
<div class="row">


<!-- one card that will be looped over -->
{% for project in projects %}

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">


<!--card containing project content -->
<div class="card-rows">
<div class="card projectDiv">
  <img class="card-img-top projectImage" src="{{ project.project_pic.cdn_url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <a href="{{ project.website }}"> {{ project.title }} </a> </h5>
    <p class="card-text blur">  {{ project.description }}</p>
    <p class="card-text blur"> <a href="{{ project.website }}"> View Site </a> </p>
    <p class="card-text blur">  {{ project.user }}</p>  


      


    <!-- Button trigger modal -->

    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#{{project.id}}"> Rate this project </button>
    <hr>
    <p> Project reviews based on the project's:</p>

    {% for criteria in project.review_set.all %}
      <div class"card-footer ratings" style="display: flex;">
        <p> Dsgn: {{ criteria.design }},  Use: {{ criteria.usability }}, Cntnt: {{ criteria.content }}, <strong>Ave: {{ criteria.average }},</strong> Reviewed by: {{ criteria.user }} </p>
      </div>
    {% endfor %}

  </div>
</div>
</div>

<!-- end of project-content-card -->


<!-- Modal containing the review/rate form-->

<div class="modal fade" id="{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {{project.title}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Submit your ratings <strong>(scale of 1 to 10 in each criteria)</strong> for <strong>{{ project.title }}</strong> <br>

        <!-- ===== PROJECT RATING FORM -->

        <form action="{% url 'rate_projects' project_id=project.id %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {% bootstrap_form rateForm %}
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>

        <!-- ===== END OF PROJECT RATING FORM -->

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- end of column div -->


{% endfor %}

     
<!-- loop to end above this comment-->




</div> <!-- end of outer row-->
</div> <!-- end of container-->


{% endblock %}